body{
    background: #dedede;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
.menu-bar{
    margin: 0 auto;
}
nav{
    height: 60px;
    background: #fff;
}

.logo{
    padding: 5px 0 0 80px;

    width: 100px;
    height: 20px;
    margin-left: 30px;
    margin-top: 15px; 
    cursor: pointer; 
    
    
}

nav ul{
    padding: 0;
    margin: 0;
    float: right;
    margin-right: 30px;
}

nav ul li{
    background: #fff;
    list-style: none;
    position: relative;
    display: inline-block;
    margin-right: 50px;
}

nav ul li a{
    display: block;
    padding: 0px 15px;
    color:mediumslateblue;
    text-decoration: none;
    font-size: 20px;
    line-height: 60px;
    transition: 0.6;

}

nav ul li a:hover{
    background-color:lightblue;
}

nav ul ul{
    position: absolute;
    top: 60px;
    display:none;
    z-index: 1000;
}

nav ul li:hover>ul{

display: block;    

}

nav ul ul li{
    background-color: white;
    width: 350px;
    float:none;
    display: list-item;
    position: relative; 
    border-bottom: 1px solid grey;
}
nav ul ul li a{
    color: mediumslateblue;
}
.background{
 background-position: center center;
 background-size: cover;
 width: 100%;
 height: 500px;
 overflow:auto;
}

.container {
    position: relative;
  }

  .text-block {
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 900px;
    margin-bottom: 20px;
    font-size: 20px;
 
  }

  .drop li{
      width: 200px;
  }

 

  .text-over a img{
        height:500px;
        width:800px;
        position:relative;
        padding-right: 0;
        border: fixed;
        margin-left: 300px;
        
        
        display: inline-block;
        overflow: hidden;
        
  }
  span{
      font-size: 15px;
  }
  

  .text-over figcaption{
      position: absolute;
      padding-left: 20px;
      padding-right: 20px;
      margin-right: 900px;
      margin-bottom: 20px;
      right: -300px;
      bottom:-350px;
      font-size: 30px;
      color: white;
      background-size: cover;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
  }
  
  
  .image img{
      height: 200px;
      width: 70%;
      cursor: pointer;
      padding-top: 20px;
      
  }
 .row p{
      font-family: Arial, Helvetica, sans-serif;font-size:25px;padding: 0 10px;
  }
  
  h2{
      margin-top: 10px;
      text-align: center;
  }
  .image{
     display: inline-block;
     width: 33%;
     text-align: center;
      
  }
  picture{
      overflow: hidden;
      margin: 0 10px;
  }
  .image #zoom_in img{
      transform: scale(1);
      transition: 0.3s ease-in-out;
  }
  .image #zoom_in:hover img{
      transform: scale(1.1);
  }
 
  footer{
      bottom: 0;
      background-color:darkslateblue;
      color:#fff;
      margin-bottom: -44px;
      position: relative;
      width: 100%;
      overflow: hidden;
      }
    .center-box h2{
        font-size: auto;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        
    }
    
  .foot{
      display: flex;
      

  }

  .foot .left-box{
      flex-basis: 50%;
      padding: 10px 20px;
  }
  .left-box h2{
      font-size:auto;
      font-weight: 600;
      
      
      
  }

  
  .left-box .content .social{
      margin: 20px 0 0 0;
      text-align: center;
  }

  .left-box .content .social a{
      padding: 0 20px;
  }

  .left-box .content .social a span{
      height: 40px;
      width: 40px;
      line-height: 40px;
      font-size: 18px;

  }
  .left-box .content .social a span:hover{
      color:rgb(240, 11, 11);
  }

  
  
  .center-box  {
   padding: 0px 200px;
}
.text{
    cursor: pointer;

}
.text:hover{
    color: springgreen;
}
.fa {
    cursor: pointer;
}
  .fa:hover{
      color: palevioletred;
  }
     

  .coprights p{
      text-align: center;
  }.social .fa{
      color: white;
  }